
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
body{
	background-color: aqua;
	height: 100dvh;
	width: 100dvw;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
}
.box{
	background-color: aliceblue;
	height: 400px;
	width: 400px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.frame{
	
	display: flex;
	font-size: 50px;
	gap: 3px;

}
.hrs, .min, .sec, .ms{
	width: 50px;
	text-align: center;
	line-height: 50px;
	color: rgb(0, 0, 0,0.8);
}
.colon{
	width: 10px;
	height: 50px;
}
.button{
	margin-top: 25px;
}
.button button{
	border: none;
	padding: 10px 30px;
	color: white;
	border-radius: 5px;
	text-transform: uppercase;
}
.start{
	background-color: green;
}
.stop{
	background-color: rgb(250, 24, 24);
}
.reset{
	background-color: rgb(70, 7, 241);
}

.start-active, .stop-active{
	pointer-events: ;
}